.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 100%;
  font-family: inherit;
}

/* sidebar */

.sidebar {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  height: 480px;
  background-color: rgb(58, 58, 58);
  color: white;
  z-index: 500;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px;
}

.search-input {
  width: 300px;
  height: 37px;
  border-radius: 5px;
  background-color: lightgray;
  padding: 7px 18px 8px 18px;
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 12px;
}

.sidebar div {
  overflow: auto;
}

.client-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 7px;
  border: 0.5px solid rgb(71, 71, 71);
  border-radius: 5px;
}

.client-item:hover {
  border: 0.5px solid rgb(255, 124, 1);
  background-color: rgb(82, 82, 82);
}

.client-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 10px;
  max-width: 200px;
}

.client-name h3 {
  text-align: left;
  min-width: 200px;
}

.client-name span {
  text-align: left;
  font-size: 12px;
  min-width: 200px;
}

.client-name h3:hover {
  text-decoration: underline;
}
