.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  min-height: 507px;
  background-color: rgb(71, 71, 71);
  color: white;
  z-index: 500;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px;
}

.user-item {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 5px;
  border: 0.5px solid rgb(71, 71, 71);
}

.user-item:hover {
  border: 0.5px solid rgb(255, 124, 1);
}

.user-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
}

.user-name span {
  text-align: left;
}
