.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  min-height: 507px;
  background-color: rgb(71, 71, 71);
  color: white;
  z-index: 500;
  border-radius: 7px;
  cursor: pointer;
}
